<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='win.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/launch.ico') }}">

	<script defer src="https://kit.fontawesome.com/1f1ce1e187.js" crossorigin="anonymous"></script>
	
	<script defer src="app/jquery-3.6.3.min.js"></script>
	
	<title>XaTa</title>
	
</head>

<body>

	<div class="logo-mono">Мини мониторинг:
		
	{% for website, status in status_list %}
	<p>{{ website }} - {{ status }}</p>
	{% endfor %}
		
	</div>
		
	<div class="description">
		<div class="loader">🛸</div>
		<div class="logo">HtmL?</div>
		<p>Сайт представлен как "Портфолио". Данный сайт содержит исключительно рабочий процесс🚀</p>
		<a href="#openModal" class="btn">Подробнее о проектах</a>
		
		<ul class="lotesules">
			
			<div class="copy"><p>copyright © 2023</p></div>	
			
		<a href="https://github.com/ismetskoy"><i class="fa fa-github"></i></a></li>
		<a href="https://vk.com/felhat"><i class="fa fa-vk"></i></a></li>
		<a href="https://t.me/IvanSmec"><i class="fa fa-telegram"></i></a></li>
		<a href="https://t.me/XaTaProgbot"><i class="fa fa-grav"></i></a></li>
		
		</ul>

	</div>
	
	<div class="vanous-nevog">

		<div class="kasavin-egedsa">
		<div class="kipasa-demulas">
		<div class="amon-saneka git"></div>
		<div class="muneka-sconsu">
			<h3>GitHub</h3>
			<p>Крупнейший веб-сервис для хостинга IT-проектов и их совместной разработки. Веб-сервис основан на системе контроля версий Git и разработан на Ruby on Rails и Erlang компанией GitHub</p>
		</div>
			<div class="item-footer">
			<a href="https://github.com/ismetskoy" class="link"><span>Подробнее</span></a>
		</div>
		</div>
		</div>
			
		<div class="kasavin-egedsa">
		<div class="kipasa-demulas">
		<div class="amon-saneka docker"></div>
		<div class="muneka-sconsu">
			<h3>Docker</h3>
			<p>Американская технологическая компания, разрабатывающая инструменты повышения производительности, построенные на базе Docker, которые автоматизируют развертывание кода внутри программных контейнеров.</p>
		</div>
			<div class="item-footer">
			<a href="https://xata-docker.ru" class="link"><span>Подробнее</span></a>
		</div>
		</div>
		</div>

		<div class="kasavin-egedsa">
		<div class="kipasa-demulas">
		<div class="amon-saneka ubuntu"></div>
		<div class="muneka-sconsu">
			<h3>Ubuntu</h3>
			<p>Дистрибутив GNU/Linux, основанный на Debian GNU/Linux. Основным разработчиком и спонсором является компания Canonical. В настоящее время проект активно развивается и поддерживается свободным сообществом.  </p>
		</div>
			<div class="item-footer">
			<a href="https://pq.hosting" class="link"><span>Подробнее</span></a>
		</div>
		</div>
		</div>

		<div class="kasavin-egedsa">
		<div class="kipasa-demulas">
		<div class="amon-saneka gear"></div>
		<div class="muneka-sconsu">
			<h3>WireGuard</h3>
			<p>Коммуникационный протокол и бесплатное программное обеспечение с открытым исходным кодом, который реализует зашифрованные виртуальные частные сети. </p>
		</div>
			<div class="item-footer">
			<a href="https://xata-vpn.ru" class="link"><span>Подробнее</span></a>
		</div>
		</div>
		</div>

		<div class="kasavin-egedsa">
		<div class="kipasa-demulas">
		<div class="amon-saneka nginx"></div>
		<div class="muneka-sconsu">
			<h3>Nginx Proxy Manager</h3>
			<p>Это простой интерфейс для начинающих и опытных пользователей, позволяющий создавать различные типы хостов для прокси и их входящего трафика домашней сети.</p>
		</div>
			<div class="item-footer">
			<a href="http://5.182.39.176:43013" class="link"><span>Подробнее</span></a>
		</div>
		</div>
		</div>

		<div class="kasavin-egedsa">
		<div class="kipasa-demulas">
		<div class="amon-saneka grafana"></div>
		<div class="muneka-sconsu">
			<h3>Grafana</h3>
			<p>Свободная программная система визуализации данных, ориентированная на данные систем ИТ-мониторинга. Реализована как веб-приложение в стиле «приборных панелей» с диаграммами, графиками, таблицами, предупреждениями.</p>
		</div>
			<div class="item-footer">
			<a href="https://xatagrafana.ru/login" class="link"><span>Подробнее</span></a>
		</div>		
		</div>
		</div>	
</body>
		
		<div id="openModal" class="modal">
			<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Мои работы и проекты 👋</h3>
				<a href="#close" title="Закрыть" class="close">×</a>
			</div>
		<div class="modal-body">    <p>
				<p>Имеется два VPS-сервера. На которых крутится система Ubuntu 22.04</p>
				<p>	На сервере VPS-5.182: </p>
					Распологается Portainer в котором крутятся Doker и Docker compose
				<br>
					<img src="/static/images/Docker.JPG" padding="50px">
				<br>
					Данный сайт написан на HTML+CSS и работает на веб.сервере Nginx. 
					Для мониторинга приложений и серверов используется Prometheus с готовыми Exporter
				<br>
				<img src="/static/images/Prometheus.JPG">
				<br>
				<p>Визуализация в Grafana</p>
				<br>
				<img src="/static/images/Grafana.JPG">
				<br>
				<p>	Настроенна система Alertmanager с оповощением в Telepush </p>
				<br>
				<img src="/static/images/Alertmanager.JPG">
				<br>	
				<p>	Данные перенаправляются через Nginx Proxy Manager + SSL</p>
				<br>	
				<img src="/static/images/Nginx Proxy Manager.JPG">
				<br>	
				<p>	На сервере VPS-83.220: </p>
				<br>
					Также установлен Portainer agent
				<br>	
					На нем крутится Telegrambot. Который несет простую функицию в виде гороскопа.
				<br>	
				<img src="/static/images/Telega.JPG"></p>
			</div>
			</div>
			</div>
			</div>

</html>